#wrapper {
    width: 1300px;
    height: 1250px;
    overflow: hidden;
}

#left-column {

    width: 450px;
    height: 1200px;
    background-color: whitesmoke;
    margin: 20px;
    float: left;
    box-shadow: 5px 5px 5px 5px #8888;
}


img {
    width: 450px;
    height: 450px;
}

.name, h2 {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    color: black;
    margin-left: 10px;
}

.name, p {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    text-align: justify;
    color: black;
    margin-left: 10px;
    margin-right: 15px;
}

hr {
    width: 90%;
    height: .1px;
    margin-left: 20px;
    background-color: #b7d0e2;
    border: 0 none;
}

.details, i {
    color: lightseagreen;

    padding: 3px;
}

.details, p {
    font-size: 15px;
    font-style: normal;
    padding: 3px;
    
}

.skills, i {
    color: lightseagreen;
    margin-left: 3px;
    margin-right: 3px;
}

.skills, p {
    font-size: 15px;
    font-style: normal;
    margin-left: 10px;    
}

.subject {
    
    width: auto;
    height: 30px;
    
    margin: 5px;
    float: left;
    border-radius: 20px;
    
    font-family: "Roboto", sans-serif;
    
    background-color: lightseagreen;
    
    
}

.text {
    color:white;
    font-size: 15px;
    text-align: center;
    margin: 5px;
}

.languagesknown, i {
    color: lightseagreen;
    margin-left: 3px;
    margin-right: 3px;
    float: left;
}

.language {
    margin-left: 20px;
    padding: 10px;
}


#first-right {
    width: 800px;
    height: 590px;
    margin-top: 20px;
    float: left;
    vertical-align: top;
    background-color: whitesmoke;
    box-shadow: 5px 5px 5px 5px #8888;
}

.education, i {
    color: lightseagreen;
    margin-right: 10px;
}

 .education-details {
    margin-left: 10px;
    font-size: 20px;
    
    font-weight: normal;
    margin-left: 3px;
    padding: 10px;
    
}

.schools {
    margin-left: 25px;
    font-family: "Roboto", sans-serif;
    color: black;
    font-style: normal;
}

.year{

    font-size: 15px;
    color: lightseagreen;


}

.year, i{
    margin-left: 10px;
    margin-right: 5px;
}

ul, li {
    color: black;

}



#second-right {
    width: 800px;
    height: 590px;
    float: left;
    margin-top: 20px;
    background-color: whitesmoke;
    box-shadow: 5px 5px 5px 5px #8888;
}



.project, i {
    color: lightseagreen;
    margin-right: 10px;
}

 .project-details {
    margin-left: 10px;
    font-size: 20px;
    
    font-weight: normal;
    margin-left: 3px;
    padding: 10px;
    
}

.projectslist {
    margin-left: 25px;
    font-family: "Roboto", sans-serif;
    color: black;
    font-style: normal;
}

.explaination {

    margin-left: 10px;
    font-size: 15px;
    
    font-weight: normal;
    margin-left: 15px;
    padding: 10px;
 

}