<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>MyPortfolio</title>
</head>
<body>
    
    <div id="wrapper">
        <div id="left-column">
            <img src="images/divya-min.jpeg" alt="candidate image">
            <h2>SATYADIVYA MADDIPUDI</h2>
            <P>Student developer who whishes to improve knowledge and I am looking for a place where I can use my knowledge to serve the organization and evolve continuously through learning.</P>
            <hr>
            
        </div>
    </div> <!-- wrapper close-->
</body>
</html>