<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <link rel="stylesheet" href="styles/style.css">
    <title>MyPortfolio</title>
</head>
<body>
    
    <div id="wrapper">
        <div id="left-column">
            <img src="images/divya-min.jpeg" alt="candidate image">

            <div class="name">
            <h2>SATYADIVYA MADDIPUDI</h2>
            <P>Student developer who whishes to improve knowledge and I am looking for a place where I can use my knowledge to serve the organization and evolve continuously through learning.</P>
            </div>

            <hr>

            <div class="details">
                
                <p> <i class="fa fa-briefcase fa-fw"> </i> Student Developer </p>
                
                <p> <i class="fa fa-home fa-fw"> </i> Peddapuram, India </p>
                
                <p> <i class="fa fa-envelope fa-fw"> </i> divya.maddipudi1@gmail.com </p>

                <p> <i class="fa fa-phone fa-fw"> </i> +91 9876543210 </p>

            </div> <!-- details-->

            <hr>
            
            <div class="skills">
                
                <p> <i class="fa fa-asterisk fa-fw"> </i> Skills </p>

                    <div class="subject"> <p class="text"> Java </p></div>

                    <div class="subject"> <p class="text"> HTML/CSS </p></div>
                    
                    <div class="subject"> <p class="text"> OOPS </p></div>
                    
                    <div class="subject"> <p class="text"> Python </p></div>
                    
                    <div class="subject"> <p class="text"> JDBC </p></div>

                    <div class="subject"> <p class="text"> Github </p></div>
                     
                    <div class="subject"> <p class="text"> Data Structures </p></div>

                    <div class="subject"> <p class="text"> Object Oriented Programming</p></div>
                    
                    <div class="subject"> <p class="text"> MySQL </p></div>

                    <div class="subject"> <p class="text"> JSP </p></div>

            </div> <!-- skills -->
            
            <hr>
            
            <div class="languagesknown"> 
                <p> <i class="fa fa-globe fa-fw"> </i> Languages </p>

                
                <P class="language"> English<br><i>Professional Working Proficiency</i></P>
                
                <P class="language"> Telugu<br><i>Native or Bilingual Proficiency</i></P>
                
                <P class="language"> Hindi<br><i>Limited working Proficiency</i></P>


            </div> <!-- languages -->

        </div>
    </div> <!-- wrapper close-->
</body>
</html>