<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <link rel="stylesheet" href="styles/style.css">
    <title>MyPortfolio</title>
</head>
<body>
    
    <div id="wrapper">

        <div id="left-column">

            <img src="images/divya-min.jpeg" alt="candidate image">

            <div class="name">
            <h2>SATYADIVYA MADDIPUDI</h2>
            <P>Student developer who whishes to improve knowledge and I am looking for a place where I can use my knowledge to serve the organization and evolve continuously through learning.</P>
            </div>

            <hr>

            <div class="details">
                
                <p> <i class="fa fa-briefcase fa-fw"> </i> Student Developer </p>
                
                <p> <i class="fa fa-home fa-fw"> </i> Peddapuram, India </p>
                
                <p> <i class="fa fa-envelope fa-fw"> </i> divya.maddipudi1@gmail.com </p>

                <p> <i class="fa fa-phone fa-fw"> </i> +91 9876543210 </p>

            </div> <!-- details-->

            <hr>
            
            <div class="skills">
                
                <p> <i class="fa fa-asterisk fa-fw"> </i> Skills </p>

                    <div class="subject"> <p class="text"> Java </p></div>

                    <div class="subject"> <p class="text"> HTML/CSS </p></div>
                    
                    <div class="subject"> <p class="text"> OOPS </p></div>
                    
                    <div class="subject"> <p class="text"> Python </p></div>
                    
                    <div class="subject"> <p class="text"> JDBC </p></div>

                    <div class="subject"> <p class="text"> Github </p></div>
                     
                    <div class="subject"> <p class="text"> Data Structures </p></div>

                    <div class="subject"> <p class="text"> Object Oriented Programming</p></div>
                    
                    <div class="subject"> <p class="text"> MySQL </p></div>

                    <div class="subject"> <p class="text"> JSP </p></div>

            </div> <!-- skills -->
            
            <hr>
            
            <div class="languagesknown"> 
                <p> <i class="fa fa-globe fa-fw"> </i> Languages </p>

                
                <P class="language"> English<br><i>Professional Working Proficiency</i></P>
                
                <P class="language"> Telugu<br><i>Native or Bilingual Proficiency</i></P>
                
                <P class="language"> Hindi<br><i>Limited working Proficiency</i></P>

            </div> <!-- languages -->

        </div> <!-- left column -->
        

        <div id="first-right"> 

            <div class="education">

                <p class="education-details"> <i class="fa fa-book fa-lg"> </i> EDUCATION DETAILS </p>

                <p class="schools"> <b>Sathyabama Institute Of Science And Technology </b></p>
                
                <p class="year"><i class="fa fa-calendar fa-fw"></i>2016 - 2020 <br> 
                </p>
                <ul><li>Computer Science and Engineering</li> <li>Secured 9.65 CGPA</li></ul> 
           
                <hr>

                <p class="schools"> <b>Sri Chaitanya Girls Junior College</b> </p>
                
                <p class="year"><i class="fa fa-calendar fa-fw"></i>2014 - 2016 <br> 
                </p>
                <ul><li>Maths, Physics and Chemistry</li> <li>Secured 9.63 CGPA</li></ul> 
           
                <hr>

                <p class="schools"> <b>Dr.k.k.r's Gowtham Concept schools</b> </p>
                
                <p class="year"><i class="fa fa-calendar fa-fw"></i>2014 - 2016 <br> 
                </p>
                <ul><li>State Board</li> <li>Secured 9.5 CGPA</li></ul> 
            
            </div>
            
        </div> <!-- first-right -->

        <div id="second-right">

            <div class="projects">

                <p class="project-details"> <i class="fa fa-briefcase fa-lg"> </i> PROJECTS </p>

                
                <h4 class="projectslist"> <b> Diary</b></h4> 

                <p class="explaination"> Developed a web application which allow user to write their daily routine and save it into the database and with authentication functionality to the user credentials.</p>
                 
                <hr>

                <h4 class="projectslist"> <b>Visitor Pass</b></h4> 

                <p class="explaination"> Developed an android application for companies to make an entry of the visitors by the security using Flutter and Firebase. </p>
                 
                <hr>
                

                <h4 class="projectslist"> <b>FeelI</b></h4> 

                <p class="explaination">Developed a web application which stores the feelings of an user when the user listens to a particular music. So, that the user can compare the current feelings to the past stored feelings when listens to same music again.
                </p>
                 
                <hr>
                
                <h4 class="projectslist"> <b>Restaurant Table Booking</b></h4> 

                <p class="explaination"> Web application which is used by the user to book the table in the restaurant for a desired time slot.</p>
            </div>            
        </div>
        
    </div> <!-- wrapper close-->
</body>
</html>